:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.avatar {
  --igx-avatar-background: transparent;
  margin: 0 8px 0 0;
}
.button {
  --igx-button-foreground: hsla(var(--ig-gray-900));
  margin: 0 8px 0 0;
  height: max-content;
}
